body {
    font-family: sans-serif;
}

img,
span.img {
    width: 24px;
    height: 24px;
}

hr {
    border: 0;
    border-top: 1px solid #444;
}

button:not(:disabled) {
    cursor: pointer;
}

button.active {
    border-style: inset;
}

#page-projects,
#page-reports,
#reports-range-display {
    display: grid;
    grid-gap: 4px;
}

#page-projects {
    grid-template-columns: auto 1fr auto;
}

#page-reports {
    display: none;
    grid-template-columns: auto 1fr auto auto auto auto auto auto auto auto;
}

#page-reports button {
    opacity: 0;
}

#page-reports span {
    text-align: center;
}

#page-reports .th {
    font-weight: bold;
}

#page-reports .left {
    text-align: left !important;
    margin-left: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#page-reports span {
    font-size: small;
    margin-block: auto;
    margin-inline: 3px;
}

#reports-range-display,
#page-reports span.note {
    grid-template-columns: auto auto 1fr auto 1fr auto auto;
    grid-column-start: 1;
}

#page-reports.weekTotal #reports-range-display,
#page-reports span.note {
    grid-column-end: 11;
}

#page-reports .is-trashed {
    opacity: 0.5;
}
